
<h1>Le jeu des questions</h1>
<p>Le jeu est simple : nous allons prendre une personne au hasard, et lui poser une question. Cette personne devra répondre à cette question.</p>

<h3>Comment jouer ?</h3>
<p>Pour jouer, cliquer sur le bouton :</p>
<%= link_to "Joue par ici", questions_path %>