<div class= "banner-sektion banner-overlay2 ">
    <div class="container text-center">
        <div class="col-md-12">
            <div class="banner-heading ">
                <h2> Bienvenue les moussaillons ! </h2>
                <p>Pour pouvoir commencer la toute première mission, c'est par ici : </p> 
                  <a class="btn btn-primary btn-lg" href="<%= new_group_registration_path %>" > S'inscrire</a>
 
            </div> 
        </div>
    </div>
</div>