<h1>Le jeu du "puis soudain"</h1>
<p>Le jeu va prendre une personne au hasard, puis elle devra imaginer une histoire avec 3 phrases. À la fin de ces trois phrases, le jeu va insérer "PUIS SOUDAIN", et proposer à une personne du groupe tirée au hasard de continuer. Cette personne devra dire 3 phrases, et ainsi de suite.</p>

<h3>Comment jouer ?</h3>
<p>Pour jouer, cliquer sur le bouton :</p>
<%= link_to "Joue par ici", soudains_path %>