<h1>Le jeu des BDs</h1>
<p> En dessous vous trouverez une planche de BD dont les cases sont vides. Le but du jeu est que vous imaginiez le contenu des cases.
Bonne partie</p>

<p><img style="width: 90%;" src="https://i.imgur.com/TR2cF3B.jpg" alt="bd d'asterix" /></p>