/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/************************/
/*         NAVBAR       */
/************************/

.nav-text a {
  font-size: 18px;
  text-decoration: none;	
}

.navbar-brand{
font-family: 'Nunito', sans-serif !important;
color: #E95420 !important;
font-size: 22px  !important;
}

/**********/

.bg-light {
  padding: 3%;
  background-color: #aea79f1f !important;
}
 #LoginForm{
   padding: 10%;
 }

 body{
   font-family :'Montserrat', sans-serif;
 }

/************************/
/*        Banner        */
/************************/
.banner-overlay {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(thp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 200px;
  padding-bottom:200px;
}
.banner-heading h2 {
  color:#fff;
  font-size: 42px;
  font-weight: 600;
  

  }
.banner-heading P {
  color:#fff;
  padding-bottom:20px;
  font-size: 19px;
  font-weight: 400;
  }
 
  /* BANNER 2 */
  .banner-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.37)), url(teambuilding.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
    padding-top: 150px;
    padding-bottom:150px;
  }
.jumbotron {
  margin-bottom: 0px !important;
}

/*** USER CARDS **/

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 2rem;
}
.avatar {
  padding-left: 10px;
  padding-right: 10px;

}
