<section class ="bg-light">
	<div class="container rounded box-shadow bg-white">
  		<div class="row">
    		<div class="col-sm-8">
    			<img class="img-fluid" src="<%= image_url("foot.jpg")%>" style='heigh:30%; width:100%;'/>
    		</div>
    		<div class="col-sm-4 pt-5">
    			<h3>Le jeu des deux vérités et un mensonge</h3>
          <p> Le titre est assez explicite, mais on va détailler ça pour toi.</p>
    		</div>
  		</div>

  		<div class="row border border-light py-3">
  			<div class="col-sm-8 pl-4">
  				<p class="text-primary">Sauras-tu décéler le vrai du faux ?  <i class="text-primary fas fa-user-secret ml-2 fa-2x"></i> </p>
  			</div>
  			<div class="col-sm-4">
				<a href="<%= truths_path %>" class="btn btn-primary btn-lg btn-block">Commencer le jeu</a>
			</div>
  		</div>
  		<div class="row">
    		<div class="col-sm-8 my-3 px-5">
    			<h5>Les règles du jeu</h5>
    			<p class="text-secondary">En gros, il faudra donner trois affirmations sur toi à tes coéquipiers. Dans ses trois affirmations, il y aura un mensonge. A eux, de le découvrir. 
          <p class="text-secondary"> Procède par vote et donne la réponse après avoir entendu les votes de chacun. </p>
  		</div>
  	</div>

</section>